<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
<link rel="stylesheet" href="assets/css/app.css">
<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
<script src="assets/js/httpVueLoader.js"></script>

</head>

<body>
	<div id="app">

		<!-- style="height: 100vh;" -->
		<template> <el-tabs :tab-position="tabPosition" v-model="selectedTab" > <el-tab-pane name="main"> <span
			slot="label"><i class="nav-icon el-icon-s-finance"></i></span>
		<h1>
			Portefeuille ETF
			</h2>
			<h2>Allocation cible</h2>
			<etfs-chart v-bind:portfolio="computedTarget"></etfs-chart>
			<h2>Allocation actuelle</h2>
			<etfs-chart v-bind:portfolio="computedPortfolio"></etfs-chart>
			<h2>Répartition des émetteurs</h2>
			<issuers-chart v-bind:portfolio="computedPortfolio"></issuers-chart>
			<h2>PEA d'un montant de
				{{formatCurrency(computedPortfolio.totalAmount)}} répartis sur
				{{computedPortfolio.etfs.length}} ETF</h2>
			<portfolio-table v-bind:portfolio="computedPortfolio"></portfolio-table>
		</el-tab-pane> <el-tab-pane> <span slot="label"><i
			class="nav-icon el-icon-s-tools"></i></span>
		<h1>
			Import de données
			</h2>
			<el-input type="textarea" :autosize="{ minRows: 20, maxRows: 20}"
				placeholder="Copier les informations de votre PEA et coller le texte brut ici."
				v-model="inputData"> </el-input>
			<el-button class="import-data" @click="importData"><i class="el-icon-upload2"></i> Importer les
			lignes d'ETF</el-button>
		</el-tab-pane name="import"> </el-tabs> </template>

	</div>
</body>

<script src="assets/js/app.js"></script>


</html>
